/*-- ---------------- --*/
/*-- WIREFRAME BASICS --*/
/*-- ---------------- --*/

body {
	margin: 0;
}

ul, ol {
	padding: 0;
	margin: 0;
}

section.wireframe-wrapper {
	padding: 0 1em;
}

header#header {
  background-color: white;
	border-bottom: 1px solid lightgrey;
  height: 137px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;/* at the top of the stack */
}

header#header h3 {
	margin: 0.25em 0;
}

h1, h2, h3, h4 {
	color: #038EDF;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	margin: 0;
}

a:link {
	color: #038EDF;
	text-decoration: none;
}

a:hover {
	color: #ff6f06;
	text-decoration: underline;
}

a:visited {
	color: #2A6283
}

.picture {
	max-width: 600px;
}

/* GLOBAL NAVIGATION */
.global-nav {
	position: relative;
}

.global-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block; /* don */
}

.global-nav ul li {
	border: 1px solid lightgrey;
	display: inline-block;
	font-size: .8em;
	padding: 0.25em;
}

.global-nav a.hamburger {
	display: none;
}

/* The following from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

/* When the screen is less than 800 pixels wide, hide all global nav links 
Show the icon/link that opens and closes the global nav */
@media screen and (max-width: 800px) {
	.global-nav ul { 
		display: none;
	}

	.global-nav a.hamburger {
		position: absolute;
		top: -27px;
		right: 30px;
		display: block;
	}
}

/* The "responsive" class is added to global-nav with JavaScript 
when the user clicks the icon. This class makes global-nav 
display the links vertically instead of horizontally */
@media screen and (max-width: 800px) {
	.global-nav.responsive ul {
		background-color: #fff;
		display: block;
		position: absolute;
		right: 30px;
		text-align: right;
		top: 0px;
	}

	.global-nav.responsive ul li {
		display: block;
		font-size: .8em;
		padding: 0.25em;
	}
}

.fa {
	font-size: 1.5em;
}

section.wrapper {
	margin-top: 160px;
}

nav.moment-nav {/* for mini-nav */
	overflow-x: scroll;
	width: 100%;
}

nav.moment-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

nav.moment-nav ul li {
	background-color: #f2f2f2;
	border: 1px solid lightgrey;
	display: inline-block;
	font-size: .8em;
	height: 50px;
	margin: 0 2px;
	padding: 0.25em;
	text-align: center;
	text-wrap: wrap;
	vertical-align: middle;
	width: 80px;
}

nav.moment-nav ul li.selected{
	background-color: lightgrey;
}

/* -------------------- */
/* ----  MOMENTS   ---- */
/* -------------------- */
.moment-header {
	padding: 0 1em;
}

/* --------------------------------- */
/* ------  Moment Title Frames ----- */
/* --------------------------------- */

.moment-title {
	margin-top: 138px;
	position: relative;
}

.moment-title h1 {
	color: #ffc107;
	text-shadow: 2px 2px 2px #333;
}

@media screen and (min-width: 800px) { /* displays larger than 800px */
	.moment-title h1 {
		padding-top: 5%;
	}
}

.title-container {
	padding: 2em 0 0 30vw;
	position: absolute;
	width: 100vw;
	z-index: 120;

	pointer-events: none;	
}

#horizontal-titles {
  width: 500vw;
}

.horizontal-title {
	text-align: center;
	display: inline-block;
/*background-color: rgba(256, 256, 256, 0.85);
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px #333;*/
  font-size: 1.2em;
  margin-right: 50vw;
  vertical-align: top;
  width: 40vw;
}


article.horizontal-title p.story {
	font-style: italic;
}

article.horizontal-title p.history {
}

nav.moment-options ul {
	list-style: none;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
}

nav.moment-options ul li a:link {
	color: #ffc107;
}

nav.moment-options ul li a:visited {
	color: indianred;
}

nav.moment-options ul li a:hover {
	color: orange;
	text-decoration: underline;
}

nav.moment-options ul li.prev-moment, nav.moment-options ul li.next-moment {
	position: absolute;
	top: 35vh;
}

nav.moment-options ul li.next-moment {
	right: 4vw;
}

nav.moment-options ul li.prev-moment {
	left: 6px;
}

nav.moment-options ul li.this-moment {
	position: absolute;
	top: 65vh;
	left: 40%;
}

/* ----------------------------------- */
/* -- Scrolling Moment Story Frames -- */
/* ----------------------------------- */
.moment-scroll {/* displays less than 800px */
	background-color: black;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: fit-content auto;
	grid-gap: 0;
	margin-top: 138px;
	overflow: hidden;
	z-index: 1;
}

/* -------- */
/*  IMAGES  */
/* -------- */


/* put the images in the only column */
.image-panel {
	grid-column: 1;
	grid-row: 1;
}

/* make the image shorter for MOBILE: displays smaller than 800px */
/* fixed container to keep image from scrolling */
@media screen and (max-width: 799px) {
	/* .image-panel div.image-panel-fixed {
		Removing image-panel so it will also apply to moment-title  */
	.image-panel-fixed {
		height: 60vh;
		width: 100%;
		position: fixed;
	}
	/* no inner div version */
	.image-panel-image { /* displays smaller than 800px */
		height: 60vh;
		width: 100%;
 		position: absolute;
	}
	/* the size has to be declared this third time! */
	.image-panel-image svg {
		height: 60vh;
		width: 100%;
	}
	.image-panel-image img {
		width: 100%;
		height: 60vh;
		object-fit: cover;    
	}	
}	


/* make the image full height for DESKTOP: displays larger than 800px */
/* fixed container to keep image from scrolling */
@media screen and (min-width: 800px) {
	/* .image-panel div.image-panel-fixed {
		Removing image-panel so it will also apply to moment-title  */
	.image-panel-fixed {
		height: calc(100vh - 138px);
		width: 100%;
		position: fixed;
	}
	/* no inner div version */
	.image-panel-image {
		width: 100%;
		height: calc(100vh - 138px); 
		position: absolute;
	}
	/* the size has to be declared this third time! */
	.image-panel-image svg {
		width: 100%;
		height: calc(100vh - 138px);    
	}	
	.image-panel-image img {
		width: 100%;
		height: calc(100vh - 138px);
		object-fit: cover;    
	}	
}

/* More panel */
.more-container {
  border-radius: 0 3px 3px 0;
	background-color: white;
	left: -285px;
	top: 20vh;
	height: 300px;
	width: 250px;
	padding: 0 1em 1em 1em;
	z-index: 120;
	position: absolute;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.more-container:hover {
  /* opacity: 1; */
  left: 0px;
}

.more-tab {
  background-color: #146cc1;
  border-radius: 0 0 3px 3px;
	color: #fff;
  padding: 1.25em 1em 0.25em 1em;
  position: absolute;
  top: 60%;
  /*top: 318px;*/
  left: 265px;
  margin: 0;
  /*width: 318px;*/
  text-align: center;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

.more-container ul {
	list-style-type: none;
	padding-left: 15px;
	font-size: .9em;
}

.more-container ul li{
	line-height: 1em;
	padding-bottom: .25em;
}

.more-container h5 {
	margin: 1em 0 0 0;
}

.hotspot {
	fill: #FEDA00;
	opacity: 0.3;
	/* stroke: #FEDA00;
	stroke-opacity: 7;
	stroke-width: "20"; */
}

.hotspot:hover {
	opacity: 0.5;
	/* stroke-opacity: 9; */
}


/* -------------- */
/*   STORY TEXT   */
/* -------------- */
/* for MOBILE: displays smaller than 800px */
.story-frames { 
	grid-column: 1;
	grid-row: 1;
/*margin: 30vh auto 30vh auto;
	width: 60vw;*/
	pointer-events: none;
	z-index: 10;
}

.story-frames article.story {/* displays smaller than 800px */
	margin-bottom: calc(100vh - 250px);
	color: white;
	font-size: 1.5rem;
	text-align: center;
	text-shadow: 1px 1px black;
	width: 60vw;
}

@media screen and (min-width: 800px) { /* displays larger than 800px */
	.story-frames article.story {
		font-size: 1.75rem;
	}
}

.story-frames article.story.left {
	margin: 40vh 5vw 70vh 35vw;
}

.story-frames article.story.center {
	margin: 40vh 20vw 70vh 20vw;
}

.story-frames article.story.right {
	margin: 40vh 35vw 70vh 5vw;
}

/* -------------- */
/*   TOTAL MORE   */
/* -------------- */
.total-more {
	background-color: white;
	grid-column: 1 / 3;
	grid-row: 2;
	padding: 1em;
	z-index: 11;
}

.total-more ul {
	list-style-type: none;
}

/* ---------------------- */
/*   MODAL MORE WINDOWS   */
/* ---------------------- */
.hidden {
  display: none;
}

.unhidden {
  display: block;
}

#modal-overlay {
  background: url(./assets/overlay.png) repeat;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

#modal-wrapper {
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  overflow: auto;
  padding: 1em;
  position: relative;
}

/* JavaScript assigns this (or .hidden) to modal container */
.modal-basic {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;/* this positions the modal window relative to viewport, it won't scroll with the page */  
  right: 0;
  top: 10vh;
  z-index: 100;
  max-height: 75vh;
  width: 70vw;
}

.modal-close {
	position: absolute;
	top: 10px;
	right:20px;
}

.close { 
  cursor:pointer;
}

.close:after, .close:before {
  content: "";
  height: 20px;
  width: 20px;
  border-top: 1px solid #000;
  position: absolute;
  top: 10px;
  right: -8px;
  rotate: -45deg;
}
      
.close:before {
  right: 6px;
  rotate: 45deg;
}
  
.close:hover {	
  opacity: 0.3;
}

.more-content h2, .more-content h4 {
	margin: 0;
}

.more-content figure {
	float: left;
	margin: 1em 1em 0 0;
	width: 50%;
}

.more-content figure img {
	max-width: 100%;
}

.more-content figure figcaption {
	color: gray;
	font-size: .8em;
}
/* -------------------- */
/* ------ MENUS ------- */
/* -------------------- */

.menu-tools {
	background-color: lightgrey;
	padding: .25em;
}

.menu {
	list-style-type: none;
	width: 50vw;
}

.menu li {
	margin-bottom: 1em;
}

.menu li a {
	display: block;
	font-weight: bold;
}

.people-menu tr {
	height: 3em;
}

.people-menu tr th {
	text-align: left;
}

.people-menu tr td {
	border-bottom: 1px solid lightgrey;
}

.people-menu tr th.col1 {
	width: 15%;
}

.people-menu tr th.col2 {
	width: 15%;
}

.people-menu a {
	font-weight: bold;
}

/* --------------------------------- */
/* ---------  Detail Pages --------- */
/* --------------------------------- */
.detail h2 {
	margin: 0;
}

.detail p.dates {
	margin: 0.25em 0;
}

.detail img {
	max-height: 75vh;
}

.about {
	margin-top: 1em;
	max-width: 75%;
}

.about h3 {
	margin: 0;
}

.about p {
	margin: 0 0 1em 0;
}
